@import "style.css";

/* BUTTON DESIGN */

a.image-button {
	text-decoration: none;
	width: fit-content;
	display: flex;
	background-color: var(--white);
	margin:auto;
	transition: 0.3s;
	transform: scale(1);
}

.image-box {
	display: flex;
    position: relative;
    margin: 0px 0px 20px 0px;
    overflow: hidden;
	width: fit-content;
}

/* .image-box.curved {
	border-radius: 10px;
} */

.image-box:hover {
	transform: scale(1);
}

a.image-button:hover {
	transition: 0.3s;
	transform: scale(0.99);
}

a.button {
	padding: 8px 20px;
	text-decoration: none;
	width: fit-content;
	display: flex;
	border-radius: 0px;
	background-color: var(--white);
	color: var(--black);
	box-shadow: -10px 10px var(--black);
	border: 3px solid var(--black);
	text-align: right;
}

a.button:hover {
	cursor: pointer;
	transition: 0.3s;
	transform: translate(-5px, 5px);
	box-shadow: -5px 5px var(--black);
	background-color: var(--purple);
	color: var(--white);
}
