#icon-section {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 40px;
    padding-top: 40px;
    position: relative;
}

.footer {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 40px;
    position: relative;
    background-color: transparent;
}

.icon {
    width: 40px;
    height: 40px;
}
  
a.icon-link {
    transition: transform 200ms ease-in-out;
}
  
a.icon-link:hover {
    cursor: pointer;
    stroke-width: 5;
    margin: 0;
    transform: scale(0.9);
    transition: transform 200ms ease-in-out;
}
  