@import "style.css";

/* NAVIGATION BAR FUNCTIONS */
.topnav {
  /* background-color: var(--white);   */
  z-index: 100;
  width: 100%;
}

.topnav a {
  float: right;
  color: var(--black);
  padding: 20px 30px;
  text-decoration: none;
}

.topnav a:hover {
  transition: 0.3s;
  text-decoration: underline;
}

@media screen and (max-width: 600px) {
  .topnav {
    display: none;
  }
}



/* OVERLAY FUNCTIONS */
.overlay {
  height: 0;
  width: 100%;
  position: fixed;
  z-index: 100;
  left: 0;
  top: 0;
  background-color: var(--purple);
  overflow-y: hidden;
  transition: 0.5s;
}

.overlay-content {
  position: relative;
  top: 10%;
  width: 100%;
  text-align: center;
  margin-top: 30vh;
}

.overlay a {
  text-decoration: none;
  padding: 8px;
  display: block;
  transition: 0.3s;
  color: var(--black);
}

.overlay a:hover, .overlay a:focus {
  color: var(--white);
}

.overlay .closebtn {
  position: absolute;
  top: -5px;
  right: 18px;
  font-size: 60px;
}

.bar {
	width: 35px;
	height: 6px;
  margin: 6px 0;
	background: var(--black);
  display: none;
}

@media screen and (max-width: 600px) {
  .bar {
    width: 35px;
    height: 6px;
    margin: 6px 0;
    background: var(--black);
    display: block;
  }
}


.menu-icon {
  z-index: 5;
	display: block;
	position: absolute;
	top: 25px;
	right: 25px;
  background: none;
}

.menu-icon:hover .bar {
  transition: 0.3s;
	background-color: var(--purple);
}


@media only screen and (max-height: 450px) {
  .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }
}