@import "style.css";

.project-card {
    width: 80%;
    height: auto;
    display: flex;
    align-items: left;
    justify-content: center;
    background-color: transparent;
}

.project-card-container {
    padding: 30px 30px;
    width: fit-content;
    position: relative;
}

.project-image {
    width: 80vw;
    min-width: 360px;
    height: auto;
    position: relative;
}

@media only screen and (max-width: 900px) {
.project-card {
    width: 90%;
    }
}