@import "style.css";

.project-card {
    width: 80%;
    height: auto;
    display: flex;
    align-items: left;
    justify-content: center;
    background-color: transparent;
}

.project-card-container {
    padding: 0px 0px;
    width:max-content;
    position: relative;
}

.project-image {
	width: 75vw;
	display: flex;
	align-items: center; 
	margin: auto;
}

.project-image.half {
	width: 100%;
}

.project-image.fourth {
	width: 24vw;
}

.project-image.about {
	width: 100%;
}

@media only screen and (max-width: 900px) {
    .project-card {
        width: 80%;
    }

}

@media only screen and (max-width: 800px) {
    .section-image.half {
        width: 75vw;
        display: flex;
    }
    
    .section-image.about {
        width: 50vw;
    }
}

