@import "style.css";

/* width */
/* ::-webkit-scrollbar {
   display: none;
  } */
  
  /* Track */
  /* ::-webkit-scrollbar-track {
    display: none; 
  } */
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background-color: var(--black);
    border: 8px solid rgba(0, 0, 0, 0);
    background-clip: padding-box;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: var(--black);
    border: 8px solid rgba(0, 0, 0, 0);
  }