* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background: var(--white);
}

.break {
	width: 70vw;
	height: 5px;
	background-color: var(--purple);
}

:root {
	--white:#fdf9f9;
	--grey: #d3d3d3;
	--black:#382E33;
	--purple:#9A8BA9;
	--green:#85b58f;
	--blue:#618b92;
	--pink:#FFA69E;
	--yellow:#FFCB47;
}