* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background: var(--white);
}

.break {
	width: 70vw;
	height: 5px;
	background-color: var(--purple);
	margin: 10px;
}

:root {
	--white:#ffffff;
	--grey: #d3d3d3;
	--black:#000000;
	--purple:#7b7680;
	--green:#85b58f;
	--blue:#618b92;
	--pink:#FFA69E;
	--yellow:#FFCB47;
}