@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@200;400;600;800&family=Work+Sans:wght@100;900&display=swap');
@import "style.css";

body {
	font-family: "DM Sans", sans-serif;
	color: var(--black);
}

a {
	color: var(--green);
	text-decoration: underline;
}


/* GENERAL TEXT PROPERTIES */
.jam-text {
	color: var(--black);
	font-size:calc(100% + 7vw);
	font-weight: 900;
	letter-spacing: 8px;
	padding-bottom: 20px;
	font-family: "Work Sans", sans-serif;
}

.header-text {
	color: var(--black);
	font-size:calc(100% + 4vw);
	letter-spacing: 8px;
	padding-bottom: 20px;
}

.subheader-text {
	color: var(--black);
	font-weight: 600;
	font-size:calc(100% + 0.8vw);
	text-align: left;
	padding-bottom: 20px;
}

.subheader-text a {
	text-decoration:underline;
}

.subheader-text.current {
	text-decoration: underline;
}

.sub-subheader-text {
	color: var(--black);
	font-weight: 600;
	font-size:calc(100% + 0.2vw);
	padding-bottom: 5px;
	text-align: left;
}

.body-text {
	color: var(--black);
	font-weight: 200;
	font-size:calc(100% + 0.07vw);
	padding-bottom: 10px;
	text-align: left;
	line-height: 30px;
	padding-bottom: 20px;
}

.body-text.current {
	text-decoration: underline;
}

.button-text {
	letter-spacing: 3px;
	font-size: 20px;
}




@media only screen and (max-width: 5000px) {
	.button-text {
		font-size: 26px;
	}
}

@media only screen and (max-width: 1800px) {
	.button-text {
		font-size: 20px;
	}
}