@import url('https://fonts.googleapis.com/css?family=Lexend');
@import url('https://fonts.googleapis.com/css?family=Suwannaphum');
@import "style.css";

body {
	font-family: "Lexend", Helvetica, Arial, sans-serif;
	color: var(--black);
}

.text-container {
	margin: 1%;
	background-color: transparent;
}




/* GENERAL TEXT PROPERTIES */
.header-text {
	color: var(--black);
	font-family: "Suwannaphum", Georgia, Garamond, serif;
	font-size: 38px;
	font-weight: bold;
	letter-spacing: 8px;
	padding-bottom: 20px;
}

.subheader-text {
	color: var(--black);
  	font-family: "Suwannaphum", Georgia, Garamond, serif;
	font-weight: bold;
	font-size: 30px;
	padding-bottom: 20px;
}

.sub-subheader-text {
	color: var(--black);
  	font-family: "Suwannaphum", Georgia, Garamond, serif;
	font-size: 20px;
	padding-bottom: 20px;
}

.body-text {
	color: var(--black);
	font-family: "Lexend", Helvetica, Arial, sans-serif;
	font-size: 16px;
	padding-bottom: 20px;
}

.button-text {
	font-family: "Suwannaphum", Georgia, Garamond, serif;
	letter-spacing: 3px;
	font-size: 26px;
}




@media only screen and (max-width: 5000px) {
	.button-text {
		font-size: 26px;
	}
}

@media only screen and (max-width: 1800px) {
	.button-text {
		font-size: 20px;
	}
}

@media only screen and (max-width: 600px) {
	.button-text {
		font-size: 18px;
	}

	.header-text {
		font-size: 24px;
		padding-bottom: 0;
	}

	.subheader-text {
		font-size: 18px;
		padding-bottom: 0;
	}

	.sub-subheader-text {
		font-size: 12px;
		padding-bottom: 0;
	}

	.body-text {
		font-size: 12px;
		padding-bottom: 0;
	}
}