@import "style.css";


/* NAVIGATION BAR DESIGN */

/* NAVIGATION MENU DESIGN */





/* BUTTON DESIGN */
a.button {
	padding: 8px 30px;
	text-decoration: none;
	width: fit-content;
	display: flex;
	border-radius: 30px;
}


a.button.project {
	background-color: var(--white);
	color: var(--black);
	box-shadow: -10px 10px var(--black);
	border: 3px solid var(--black);
}

a.button.project.right {
	float: right;
}

a.button.project.left {
	float: left;
}


a.button.project:hover {
	cursor: pointer;
	transform: translate(-5px, 5px);
	box-shadow: -5px 5px var(--black);
}




/* FOOTER STYLING */