@import "style.css";

.navbar {
  background-color: var(--blue);
	position: relative;
  top: 0;
  z-index: 1;
  padding: 50px 5%;
  display: flex;
  justify-content: space-between;
  align-items: left;
}

.navbar a {
  color: var(--black);
  text-decoration: none;
}

.navbar a:hover {
  text-decoration:dotted underline;
  cursor: pointer;
}



/* NAVIGATION MENU DESIGN */
.nav-menu {
	display: none;
	width: 100%;
	margin: 0;
	list-style-type: none;
	list-style-image: none;
	flex-direction: column;
}
  
.menu-item {
	display: block;
	width: 100%;
	padding: 30px 0;
	text-align: end;
}

.bar {
	width: 40px;
	height: 5px;
	background-color: var(--black);
	margin: 10px auto;
}
  
.menu-icon {
	display: block;
	position: absolute;
	top: 20px;
	right: 5%;
  }

.menu-icon:hover .bar {
	background-color: var(--grey);
}

.active {
  display: block;
}





/* BUTTON DESIGN */
a.button {
	padding: 8px 30px;
	text-decoration: none;
	width: fit-content;
	display: flex;
	border-radius: 30px;
}


a.button.project {
	background-color: var(--white);
	color: var(--black);
	box-shadow: -10px 10px var(--black);
	border: 3px solid var(--black);
}

a.button.project.right {
	float: right;
}

a.button.project.left {
	float: left;
}


a.button.project:hover {
	cursor: pointer;
	transform: translate(-5px, 5px);
	box-shadow: -5px 5px var(--black);
}